@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "spartan", sans-serif;
  color: hsl(300, 43%, 22%);
  line-height: 1;
}
.container {
  width: 100vw;
  height: 100vh;
  border: solid red;
}
.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.top_content {
  display: flex;
  flex-direction: row;
}
.heading_section {
  width: 38%;
}
.heading_section h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.heading_section p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}
.review_section {
  width: 62%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.review_headers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  padding: 1.6rem 2rem;
  margin: 1rem 0;
  background-color: hsl(300, 24%, 96%);
  border-radius: 8px;
}
.review_headers img {
  padding: 0 0.3rem;
}
.review_icons img {
  padding: 0 0.3rem;
}
.review_text {
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}
.review_headers:nth-child(1) {
  position: relative;
  right: 14rem;
}
.review_headers:nth-child(2) {
  position: relative;
  right: 7rem;
}
.bottom_content {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero_card_section {
  background-color: hsl(300, 43%, 22%);
  padding: 3rem;
  border-radius: 10px;
  width: 32%;
  position: relative;
}
.hero_card_section > p {
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
}
.caption_header {
  display: flex;
  align-items: center;
  margin: 1rem 0 3rem 0;
}
.caption_header img {
  border-radius: 50%;
  width: 50px;
}
.caption_header_text {
  margin-left: 2rem;
}
.caption_header_text h2 {
  color: white;
  font-size: 1.3rem;
}
.caption_header_text p {
  color: hsl(333, 80%, 67%);
  font-size: 1.2rem;
  margin-top: 1rem;
}
.hero_card_section:nth-child(2) {
  position: relative;
  top: 2rem;
}
.hero_card_section:nth-child(3) {
  position: relative;
  top: 4rem;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.hero_card_section:hover {
  color: green;
  animation: bounce 1s;
}
@media only screen and (max-width: 1000px) {
  body {
    background-color: lightblue;
  }
}
